@page "/"

@inject IJSRuntime JS

<div style="height: 100vh; padding-top: 100px;">
    <div class="container">
        <h1 class="title is-size-1 has-text-centered">Blazor Sortable</h1>
    </div>
</div>