name: gh-pages

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "7.0.x"
      - name: Publish with dotnet
        run: dotnet publish --configuration Release --output build
      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BASE_BRANCH: main # The branch the action should deploy from.
          BRANCH: gh-pages-from-actions # The branch the action should deploy to.
          FOLDER: build/wwwroot # The folder the action should deploy.
          SINGLE_COMMIT: true
